.profile {
  color: grey;
  text-align: center;
  border: 1px solid tomato;
  border-radius: 2px;
  width: 390px;
  margin: 10px;
  box-shadow: purple;
}
.avatar {
  height: 159px;
  margin: 46px 0 16px;
  border-radius: 100px;
}
.name {
  font-size: 28px;
  font-weight: 600;
  color: green;
}
